@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?4hkk84') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?4hkk84') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?4hkk84##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pedana-"], [class*=" pedana-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pedana-close {
  &:before {
    content: $pedana-close; 
  }
}
.pedana-menu {
  &:before {
    content: $pedana-menu; 
  }
}
.pedana-instagram {
  &:before {
    content: $pedana-instagram; 
  }
}
.pedana-gmail {
  &:before {
    content: $pedana-gmail; 
  }
}

