@font-face {
  font-family: 'pedana';
  src:
    url('fonts/pedana.ttf?4hkk84') format('truetype'),
    url('fonts/pedana.woff?4hkk84') format('woff'),
    url('fonts/pedana.svg?4hkk84#pedana') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="pedana-"], [class*=" pedana-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'pedana' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pedana-close:before {
  content: "\e902";
}
.pedana-menu:before {
  content: "\e903";
}
.pedana-instagram:before {
  content: "\e900";
}
.pedana-gmail:before {
  content: "\e901";
}
