@import "../../styles/imports/settings.imports";

.c-home {

  &__header{
    height: 100%;
    position: relative;
    z-index: -1;
  }
  
  
  &__background{
    background-color: $color-lightSalmon;
    width: 100%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__img-header {
    width: 100%;
  }

  &__first-title {
    font-size: 32px;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  &__second-title {
    font-size: 32px;
    margin-top: 16px;
  }

  &__third-title {
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 16px;
  }

  &__bouquet{
    width: 70%;
    max-width: 460px;
    margin: 0 auto;
  }

  &__history {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__history-content {
    width: 70%;
    max-width: 900px;
  }


  &__p {
    text-align: justify;
    font-size: 18px;
  }

  &__img-herb1 {
    width: 13vw;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__img-herb2 {
    width: 16vw;
    position: absolute;
    bottom: 50%;
    right: 0;
  }

  &__img-herb3 {
    width: 14vw;
    position: absolute;
    bottom: 10%;
    left: 0;
  }


  &__bton-read{
    padding: 8px 10px;
    background-color: $color-lemon;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 24px;
    margin-top: 16px;
    
    &:hover{
      background-color: $color-lightSalmon;
    }
  }

  &__hoja{
    height: 54px;
    width: 50px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .c-home {
  
    &__first-title {
      font-size: 56px;
    }
  
    &__second-title {
      font-size: 56px;
    }
  
    &__third-title {
      font-size: 48px;
    }
  
    &__p {
      font-size: 20px;
    }

  
    &__bton-read{
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 992px) {
  .c-home {
  
    &__first-title {
      font-size: 80px;
    }
  
    &__second-title {
      font-size: 80px;
    }
  
    &__third-title {
      font-size: 56px;
    }
  }
}

