h1{
  font-size: 72px;
  color: $color-lightGray;
  
  text-align: center;
  margin: 0;
}

h2{
  font-size: 48px;
  color: $color-olive;
  font-family: satisfyregular;
  text-align: center;
  margin: 0;
}


h3{
  font-size: 20px;  
  color: $color-lightGray;
  font-family: robotolight;
  text-align: center;
  margin: 0;
}


// h4{
//   font-size: 20px;  
//   color: $color-ocean;
//   font-family: $font-light;
//   text-align: center;
//   margin: 0;
// }

// h5{
//   font-size: 18px;  
//   color: $color-pineGreen;
//   font-family: $font-light;
//   text-align: center;
//   margin: 0;
// }