@import "../../../styles/imports/settings.imports";

.c-navbar {
  background-color: $color-lemon;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 16px rgba($color: #000000, $alpha: 1);

  &__logo {
    width: 60px;
    height: 50px;
    margin-left: 16px;
  }

  &__ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-right: 32px;
    padding: 0;
  }

  &__li {
    // margin: 30px 0 0 0;
  }

  &__link {
    font-size: 20px;
    text-transform: uppercase;
    // display: block;
    padding: 0px 13px;

    &:hover,
    &--active {
      color: $color-green;
      transition: 0.3s;
    }
  }

  &__img{
    display: none;
  }

  &__checkbox{
    display: none;
  }

  &__toggle-bton {
    font-size: 22px;
    color: $color-gray;
    margin-right: 24px;
    cursor: pointer;
    display: none;

    &:hover {
      color: $color-green;
    }
  }
}

@media screen and (max-width: 768px) {
  .c-navbar {
    height: 58px;

    &__ul {
      position: absolute;
      width: 100%;
      // height: calc(100%-65px);
      top: -100vh;
      text-align: center;
      transition: all 1s;
      flex-direction: column;
      align-items: center;
      background-color: $color-lemon;
      padding-bottom: 32px;
      padding-top: 16px;
      height: 100vh;

      &--show {
        top: 56px;
      }
    }

    &__li {
      margin: 8px 0 0 0;
      width: 40%;
      border-top: 1px solid white;
      padding: 16px 0;
    }

    &__link {
      font-size: 20px;
      // margin: 80px 0 4px 0;
    }

    &__img{
      display: block;
      margin-top: 68px;
      width: 60%;
      position: abs
    }

    &__toggle-bton {
      display: inline-flex;
    }
  }
}


