@import "../../../styles/imports/settings.imports";

.c-slide{
    margin: 0 auto;

    &__img{
        width: 120px;
        margin: 8px 16px;
    }
}

@media screen and (min-width: 768px) {
    .c-slide{
    
        &__img{
            width: 130px;
            margin: 8px 16px;
        }
    }
}


@media screen and (min-width: 992px) {
    .c-slide{
    
        &__img{
            width: 160px;
            margin: 8px 16px;
        }
    }
}