@import "../../../styles//imports/settings.imports";

.c-footer {
  margin-top: 48px;
  padding-top: 24px;
  background-color: $color-lemon;

  &__img {
    background-image: url("/img/herb5.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__logo {
    height: 48px;
    background-image: url("/img/logo.svg");
    background-position: left;
    background-repeat: no-repeat;
    margin-bottom: 4px;
  }

  &__content {
    justify-content: center;
  }

  &__span {
    font-size: 16px;
    margin-right: 4px;
  }

  &__data {
    font-size: 14px;
    margin-top: 8px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 768px) {
  .c-footer {

    &__img {
      background-image: url("/img/herb5.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &__logo {
        height: 72px;
        margin-bottom: 8px;
    }
  }
}

