@import "../../styles/imports/settings.imports";

.b-primereact-carousel {
  width: 90vw;
  max-width: 1000px;
  margin: 16px auto 32px auto;

  .p-carousel {
    .p-carousel-content {

      .p-carousel-container {

        // height: 180px;

        .p-link {
          font-size: 18px;
          font-weight: bold;
          color: $color-gray;
          margin: 0 8px;
        }

        .p-carousel-items-content {
          .p-carousel-items-container {
            .p-carousel-item {
              display: flex;
              align-items: center;
            }
          }
        }
      }

      // Indicadores de paginas (circulos)
      .p-carousel-indicators {

        .p-carousel-indicator {
          .p-link{
            border-radius: 50%;
            border: 1px solid $color-lightGray;
            height: 14px;
            width: 14px;
            margin: 0 8px;
          }
        }

        .p-carousel-indicator.p-highlight {
          .p-link{
            border-radius: 50%;
            background-color: $color-lightGray;
            height: 14px;
            width: 14px;
            margin: 0 8px;
          }
        }

      }
    }

  
  }
}
